.Home {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;
    flex-direction: column;
    height: 100% !important;
  }

  
  .Home::-webkit-scrollbar {
    display: none;
  }
  
  .imageLoaderContainer {
    position: absolute;
    z-index: -1;
  }

  .spacerContainer {
    height: 146px;
  }

  
  .brandContainer {
    /* position: -webkit-sticky;
    position: sticky;
    z-index: unset; */


    margin-left: 38px;
  } 


  .sticky {
    position: fixed;
    top: 50px;
  }



  .sticky + .subContainer {
    padding-top: 52px;
  }
  .subContainer {
    margin-left: 40px;
    margin-top: 110px;
  }

  .brandName {
    text-align: left;
    font-size: 50px;
    font-family: 'Questrial';
    color: white;
    
  }

  .nameSubChild {
    font-size:16px;
    text-align: left;
    font-family: 'Questrial', sans-serif;
    color: white;
    width: 70%;
    margin-bottom: 25px;
   
  }
  

  .subTitle {
    margin-bottom: 5px;
  }

  .emailLink {
    text-decoration: none;
    color: white;
  }

  .socialLink {
    text-decoration: none;
    color: white;
  }

  .homePageNav {
    text-decoration: none;
    color: white;
  }
