.HomeMobile {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;
    flex-direction: column;
    height: 100% !important;
  }

  
  .HomeMobile::-webkit-scrollbar {
    display: none;
  }
  
  .homeMobile-imageLoaderContainer {
    position: absolute;
    z-index: -1;
  }

  .homeMobile-spacerContainer {
    height: 146px;
  }

  
  .homeMobile-brandContainer {
    /* position: -webkit-sticky;
    position: sticky;
    z-index: unset; */


    margin-left: 38px;
  } 


  .homeMobile-sticky {
    position: fixed;
    top: 50px;
  }


  .homeMobile-sticky + .homeMobile-subContainer {
    padding-top: 52px;
  }
  .homeMobile-subContainer {
    margin-left: 40px;
    margin-top: 110px;
  }

  .homeMobile-brandName {
    text-align: left;
    font-size: 45px;
    font-family: 'Questrial';
    color: white;
    
  }

  .homeMobile-nameSubChild {
    font-size:17px;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
    color: white;
    width: 52%;
    margin-bottom: 25px;
   
  }

  .homeMobile-contactInfoCopy {
    margin-top: 53px;
  }
  

  .homeMobile-subTitle {
    margin-bottom: -2px;
  }

  .homeMobile-emailLink {
    text-decoration: none;
    color: white;
  }

  .homeMobile-socialLink {
    text-decoration: none;
    color: white;
  }

  .homeMobile-homePageNav {
    text-decoration: none;
    color: white;
  }




  @media only screen and (min-width: 563px) {

    .homeMobile-break {
      display: none;
    }

  }