.ImageLoaderMobile {
    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    /* overscroll-behavior-y: none; */
    /* overscroll-behavior-x: none; */
}
.ImageLoaderMobile::-webkit-scrollbar {
    display: none;
    width: 0;
}

.imageLoaderMobile-backgroundPhoto {
    display: block;
}


@media only screen and (min-width: 1000px) {

    .ImageLoaderMobile {

        width: 100vw;
    }
  }