.ImageLoader {
    /* -ms-overflow-style: none;  Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    /* overscroll-behavior-y: none; */
    /* overscroll-behavior-x: none; */
}
.ImageLoader::-webkit-scrollbar {
    display: none;
    width: 0;
}