.titleText {
    font-family: 'helvetica';
    font-size: 3vw;
    font-weight: 400;
    transition: color 0.5s cubic-bezier(1, 1, 1, 1);
    transition-delay: 0s;
    
}

.JournalContainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .JournalContainer:hover {
      cursor: pointer;
  }


.JournalContainer:hover > .centered {
    cursor: pointer;
    color: #c9c9c9

}




.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  