.journalEntryElMobile-entryImg {
    max-width: 100%;
    margin: 0 auto;
}

.journalEntryElMobile-container {
    margin-bottom: 35px;
    max-width: 300px;
    margin: 0 auto;
}

.journalEntryElMobile-journalArticle {
    margin-bottom: 100px;
    position: relative;
    text-align: center;
    flex-direction: column;
    color: white;   
}

.journalEntryElMobile-titleText {
    font-family: 'helvetica';
    font-size: 3vw;
    font-weight: 400;
    transition: color 0.5s cubic-bezier(1, 1, 1, 1);
    transition-delay: 0s;
}


.journalEntryElMobile-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
  