.musicMobile-episodeSection {
    display: flex;
    flex-direction: column;
    z-index: 5;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.musicMobile-episodeContainer {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: -30px;
}

.musicMobile-artworkWrapper {
    width: auto;
    height: 40vh;

}

.musicMobile-linkContainer {
    padding-top: 30px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    color: white;
}

.musicMobile-release {
    margin-bottom: 25px;
}

.musicMobile-episodeLink {
    text-decoration: none;
    color: white;
}

.musicMobile-coverImage {
    height: inherit;
    width: inherit;
}

.musicMobile-episodeSectionContainer {
    position: relative;
    display: flex;
    background-color: inherit;
    flex-direction: column;
    padding-top: 7å%;
    width: 100%; 
    height: 100%;
}

.colorBackgroundContainer {
    height: 5px;
}