.narrativeMobile-logoContainer {
    padding-top: 45px;
    top: 0;
    position: fixed;
    overflow: 'hidden';
    background: transparent;
    align-self: center;
    width: 100%;
    z-index: 10;
    text-align: center;
    
}


.narrativeMobile-logoName {
    font-family: 'questrial';
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.narrativeMobile-logoName:hover {
    color: white;
}

.narrativeMobile-footer {
    font-family: 'helvetica', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 50px;
}

.narrativeMobile-elementsContainer {
    display: flex;
    flex-direction: column;
    padding-top: 9%;
    align-items: center;
    /* overflow: scroll !important; */
}

.narrativeMobile-backButtonContainer {
    position:fixed;
    top:0;
    left:0;
    margin-left: 60px;
    margin-top: 60px; 

}

.narrativeMobile-backButton {
    width: 30px;
    height: 30px;
    color: black;
    font-weight: 100;

}

.narrativeMobile-backButtonLink {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}