/* .music-playlistSliderControl {
    display: flex;
    flex-direction: row;
    
}  */

.music-playlistSliderControl {
    cursor: pointer;
}



.music-prevSliderControl {
    margin-right: 50px;
}

.music-nextSliderControl {
    margin-left: 50px;
}


.music-audioPlayerContainer {
    margin-left: auto;
    margin-right: auto;
    /* width: 945px; */
    width: 100%;
    padding-top: 55px;
}

.music-itemControllerContainer {
    display: flex;
    flex-direction: row;
}

.music-itemPlayControlAction {
    width: 60px;
    height: 60px;
    color: white;
    font-weight: 100;
}
