

body {
    overscroll-behavior-y: none;

}


.swipeableView {
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.artworkContainer {
    /* width: auto; */
    width: 100%;
    border: 1px solid blue;
}

/* prevents image from being highlighted */
.noselect {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.react-swipeable-view-container {
    height: 100vh;
    align-items: center;
}

.artworkWrapper {
    display: flex;
    background-color: inherit;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    height: 50vh;
    width: 100vw;
    justify-content: center;
}

.episodeSliderPagination {
    align-self: center;
}


.audioPlayerContainer {
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    padding-top: 30px;
}

.rhap_progress-indicator {
    background: white !important;
    top: -5px !important;
    width: 15px !important;
    height: 15px !important;
}

.rhap_progress-bar-show-download {
    background-color: rgba(172, 172, 172, 0.5) !important;
    box-shadow: none !important;
}

.rhap_container {
    background-color: transparent !important;
    box-shadow: none !important;
}

.rhap_controls-section {
    flex: none !important;
}


.rhap_progress-filled {
    background-color: white !important;
}

.rhap_progress-bar-show-download {
    background-color: #ECECEC !important;
}

.rhap_time {
    color: white !important;
}

.rhap_main-controls-button {
    color: white !important;
}