

body {
    overscroll-behavior-y: none;

}


/* .music-swipeableView {
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
} */
/* 
.music-singleEpisodeContainer {
    margin-top: 5%;
} */

.music-artworkContainer {
    /* width: auto; */
    width: 100%;
    border: 1px solid blue;
}

/* prevents image from being highlighted */
.music-noselect {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* 
.react-swipeable-view-container {
    height: 100vh;
    align-items: center;
} */

.music-artwork {
    height: inherit;
} 

.music-artworkWrapper {
    display: flex;
    background-color: inherit;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    height: 50vh;
    width: 100%;
    justify-content: center;
}

.music-episodeSliderPagination {
    align-self: center;
}

