/* .music-playlistSliderControl {
    display: flex;
    flex-direction: row;
    
}  */

.music-playlistSliderControl {
    cursor: pointer;
}



.music-prevSliderControl {
    /* margin-right: 50px; */
}

.music-nextSliderControl {
    /* margin-left: 50px; */
}


.music-audioPlayerContainer {
    margin-left: auto;
    margin-right: auto;
    /* width: 945px; */
    width: 100%;
    /* padding-top: 55px; */
}

.music-itemControllerContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between;
    
}

.music-itemControllers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.music-soundcloudContainer {
    width: 33%;
    text-align: right;
}

.music-itemPlayControlAction {
    width: 60px;
    height: 60px;
    color: white;
    font-weight: 100;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}


.music-artworkContainer {
    /* width: auto; */
    width: 100%;
    border: 1px solid blue;
}

/* prevents image from being highlighted */
.music-noselect {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/* 
.react-swipeable-view-container {
    height: 100vh;
    align-items: center;
} */

.music-artwork {
    height: inherit;
} 

.music-inactive {
    color: #E5E5E5;
    cursor: default;
}

.music-artworkWrapper {
    display: flex;
    background-color: inherit;
    flex-direction: row;     /* make main axis horizontal (default setting) */
    height: 50vh;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.music-creditsOuterContainer {
    width: 33%;
}

.music-creditsInnerContainer {
    float: left;
    text-align: left;
}

.music-creditsButton {
    font-size: 11px;
    cursor: pointer;
}

