
.music-playlistGridItem {

    /* height: 100%; */
    /* vertical-align: text-top; */
    /* width: 310px; */
    position: relative;
    /* height: 310px; */
    max-width: 1000px;
    max-height: 1000px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}


.music-gridItemImage {
    /* width: 310px;
    height: 310px; */
    height: inherit;
}


.music-gridItemImageContainer {
    height: 32vh;
    width: 100%;
}

.music-gridItemPlaybackControl {
    left: 0;
    bottom: 0;
    float: left;

    z-index: 100; 
}

.music-playControlAction {
    left: 0;
    bottom: 0;
    padding: 10px;
    z-index: 100; 
    width: 60px;
    height: 60px;
    color: white;
    font-weight: 100;
    position:absolute;                  
}
  
.music-playControlAction:hover {
    cursor: pointer;
}