.Home {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;
    overflow: scroll;
    flex-direction: column;
  }
  
  .Home::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  
  .home-imageLoaderContainer {
    position: absolute;
    z-index: -1;
  }
  
  .home-contentContainer {
    position: fixed;
  
    display: flex;
    flex-direction: row;
    
    height: 100vh;
    width: 100vw;
    /* align-self: baseline; */
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    z-index: 12;  
  }
  
  
  .home-childContent {
    width: 50%;
    /* height: 500px; */
    /* position: relative; */
    margin-top: auto;
    display: flex;
    justify-content: center;
  }
  


  



/* 
  .home-leftGridContainer {

    bottom: 0;
    display: flex;

 
  } */

.home-gridContainer {
  grid-row-gap: 400px;
}

  .home-leftGridContainer{
    /* position: absolute; */

    bottom: 0;
    display: grid;
  
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 79%;
 
  }
  
  .home-rightGridContainer {
    /*position: absolute; */

    bottom: 0;
    display: grid;

    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 40px;
    /* text-align: center; */
    align-items: end;
    align-self: baseline;
    margin-left: auto;
    margin-right: auto;
    width: -webkit-fit-content;
  }
  
  
  .home-gridItem {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    font-size: 30px;
    /* width: 100%; */
    height: 100%;
    vertical-align: text-top;
    min-width: 120px;
    /* margin-left: auto; */
    /* margin-right: auto; */
  }
  
  
  .home-nameSubChild {
    font-size:16px;
    text-align: left;
    height: 185px;
  
  }


  .home-logoSubChild {
    font-family: 'Helvetica Neue', sans-serif;
    /* font-weight: 300;
    line-height: 20px; */
    font-size: 16px;
    height: 185px;
  
  }
  
  .home-homePageNav {
    text-decoration: none;
    color: white;
  }

  .home-homePageNav:hover {
    color: #e5e5e5;
  }
  
  .home-titleText {
    font-weight: 400;
    margin-bottom: 1px;
  }

  .home-subtext {
    font-weight: 400;
    line-height: 18px;
  }
  

  .home-email {
    margin-bottom: 1px;
  }

  .home-socialLink {
    text-decoration: none;
    color: white;
    font-weight: 400
  }

  #home-brandLogoImage {
    width: 100%;
    left: 0;
    bottom: 0;
  }
  
  
  .home-brandLogoContainer {
    display: flex;
    align-items: flex-end;
    width: 200px;
  }
  
  
  
  .home-mainLeftContainer {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
  
  .home-leftContainerChild {
    margin-bottom: auto;
  }

  
  .home-brandNameContainer {
    display: flex;
    flex-direction: row;
    
  }
  
  .home-brandNameText {
    font-size: 50px;
    font-family: 'Questrial', sans-serif;
    text-align: left;
  }
  
  /* 
  .brandNameContainer {
    text-align: left top;
    font-size: 55px;
    margin-right: auto;
    margin-left: 40px;
    height: 100%;
    margin-bottom: 415px; */
    /* margin-left: 355px;
    
  }
  
  
  @media only screen and (max-width: 1200px) {
    .brandNameContainer {
      margin-inline-start: 197px;
  
      
    }
  } */



  .home-brandChild {
    min-width: 120px;
    width: auto;
  }
  
  #home-leftBrandChild {
    margin-right: auto;
  }
  #home-rightBrandChild {
    margin-right: auto;
  }
  
  .home-namePadding {
    min-width: 250px; 
    margin-right: auto;
  }
  
  .home-nameSubContainer {
    display: flex;
    flex-direction: row;
  }
  
  .home-contactInfoCopy {
    display: none;
  }


  @media only screen and (min-height: 1210px) {
    /* .home-leftGridContainer{
      grid-row-gap: 540px;
   
    } */

    .home-gridContainer {
      grid-row-gap: 540px;
    }
    
    /* .home-rightGridContainer {
      grid-row-gap: 540px;
    } */
    
    .home-brandNameText {
      font-size: 63px;
    }
    


    .home-subChild {
      height: 257px;
      font-size: 19px;
    }
    
    .home-brandLogoContainer {
      width: 240px;
    }

    
  }

  @media only screen and (min-width: 1750px) {

    .home-break {
      display: none;
    }

  }
  
  @media only screen and (max-width: 1100px) {
    .home-brandGridItem {
      height: 40px;
    }

    #home-visualLink {
      height: 210px
    }

    .home-childContent {
      width: 100%;
    }
  
  
    .home-leftGridContainer {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-row-gap: 25px;
      margin-left: 50px;
  
    }
  
    .home-rightChild {
      display: none;
    }
  
    .home-nameSubChild {
      height: auto;
  
    }
  
    .home-contactInfoCopy {
      height: 185px;
      display: block;
    }
  }






  @media only screen and (max-width: 1100px) and (min-height: 1210px) {

    .home-brandGridItem {
      height: 75px;
    }

    #home-visualLink {
      height: 310px
    }

    .home-childContent {
      width: 100%;
    }
  
  
    .home-leftGridContainer {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      margin-left: 50px;
  
    }
  
    .home-rightChild {
      display: none;
    }
  
    .home-nameSubChild {
      height: auto;
  
    }
  
    .home-contactInfoCopy {
      height: 220px;
      display: block;
    }

  }

