.lock-page {

    background-color: rgb(27, 26, 26);
    height: 100vh;
}

.lock-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    height: 45%;
    width: 100%;
}
*:not(input.field) {    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lock-info {
    color: #cccccc;
    font-size: 20px;
    font-family: 'Questrial';
    padding-top: 40px;
    text-align: center;
}

.lock-trademarked {

}

/* .lock-form-control {
    height: 35px;
    width: 200px;
    
} */

.lock-form-group {
    display: block;
    
}

#lock-logo {
    width: 400px;
}


@media only screen and (max-width: 600px) {

#lock-logo {
    width: 300px;
}

}