.films-creditContent {
    font-size: 16px;
    color: white;
    font-family: 'Helvetica', sans-serif;
}

.films-creditName {
    margin-bottom: 9px;
}

.films-creditline {
    margin-bottom: 1px;
    
}

