.ImageLoader {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-x: none;
    overflow-y: hidden;
    background-size: 100%;
}

.ImageLoader::-webkit-scrollbar {
    display: none;
    width: 0;
}

.imageLoader-backgroundPhoto {
    display: block;
}

@media only screen and (max-width: 100px) {

    .ImageLoader {

    }

    .imageLoader-full {
        width: 1600px !important;
    }

    .imageLoader-half {
        width: 800px !important;
    }



}
