.ImageLoader {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior-x: none;
    overflow-y: hidden;
    background-size: 100%;
}

.ImageLoader::-webkit-scrollbar {
    display: none;
    width: 0;
}