.textFormat {
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
}

.navigationWrapper {
    margin-top: 55px;
    top: 0;
    overflow: 'hidden';
    position: fixed;
    background: transparent;
    align-self: center;
    width: 100%;
    z-index: 10;
}

.siteLogo {
    font-size: 36px;
    color: #232323;
    text-decoration: none;
}

.navigationHeaderContainer {
    text-align: center;
}

.siteLogoContainer {
    display: inline-block;
    margin-bottom: 13px;
    color: #232323;
}

.pageSelected {
    color: #232323;
}

/* .pageSelected {
    color: white
}   
.lightFormat {
    color: white
}    */

.pageSelected.lightFormat{
    color: white
}   

.navContainer {
    color: #606060;
    margin-top: 13px;
}

.navSeparator {
    margin-right: 10px;
    margin-left: 10px;
}

.pageNav {
    text-decoration: none;
    color: #606060;
}

.siteLogo .lightFormat {
    color: #FFFFFF
}

.navContainer .lightFormat {
    color: #EAEAEA;
}

.pageNav .lightFormat {
    color: #EAEAEA;
}


