.frame {
    pointer-events: none;
}

.seekbar {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 2.5px; /* Specified height */
    background: #a6a6a6; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .5s; /* 0.2 seconds transition on hover */
    transition: opacity .5s;
    cursor: pointer;
}

.playbackTime {
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
}

progress::-moz-progress-bar { background: #cccccc; }
progress::-webkit-progress-value { background: #cccccc; }