.journalEntryEl-entryImg {
    max-width: 100%;
    margin: 0 auto;
}

.journalEntryEl-container {
    margin-bottom: 35px;
    max-width: 570px;
    margin: 0 auto;
}

.journalEntryEl-journalArticle {
    margin-bottom: 150px;
    position: relative;
    text-align: center;
    flex-direction: column;
    color: white;   
}
