body {
  /* Gets rid of whitespace border (Chrome, Firefox, Safari) */
  margin: 0;
  /* overflow: auto; */
  -webkit-overflow-scrolling: touch;
}

html {
  
  /* Prevents overscroll bounce (Chrome) */
  overflow: none;

  
  /* Prevents back swipe, overscroll x/y bounce (Chrome, Firefox) */
  overscroll-behavior-x: none; 
  overscroll-behavior-y: none;

  /* Removes scrollbar for firefox */
  scrollbar-width: none;
}

/* Hides scrollbar (Safari, Chrome, Firefox) */
::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
